.search-bar {
    border: 1px solid #CCC;
    width: 500px;
    height: 30px;
    margin: 150px auto;
    padding-top: 4px;
    padding-left: 8px;
}
.textbox {
    border: 0px;
    background-color: transparent;
    position: absolute;
    outline: none;
    width: 490px;
    height: 24px;
}
ul {
    list-style: none;
    margin:0px;
}
.result {
    margin: 30px 0 0px -9px;
    border: 1px solid #ddd;
    width: 508px;
    box-shadow: 0 2px 6px rgba(160, 160, 160, 0.5);
}
.result ul li {
    padding-left: 8px;
    font-weight: bolder;
}
.result ul li>span {
    font-weight: normal;
}
.result ul li:hover, .result ul li.selected {
    background-color: #dddddd;
}
.hide {
    display: none;
}
.borderBule {
    border: 1px solid #5555ff;
}
.suggest {
    color: #aaa;
}